*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("images/michael_jordan_chicago_bulls_23.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Kumbh Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 90px 5px;
  background-color: rgba(240, 248, 255, 0.559);
  border-bottom: 1px solid rgba(37, 36, 36, 0.865);
}

.logo {
  height: 100px;
  margin-right: 40px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: #2e2d2d;
  font-size: 16px;
  padding: 5px 0;
}

.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-decoration-thickness: 3px;
  text-underline-offset: 60px;
  font-weight: 900;
  color: black;
}

.header-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.cart-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.user-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.content {
  display: flex;
  align-items: center;
  padding: 60px;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.top-img {
  width: 100%;
  position: relative;
}

.arrow {
  display: none;
}

.top-img img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

.thumbnails {
  display: flex;
  margin-top: 20px;
  gap: 15px;
  width: 100%;
}

.thumbnails > div {
  flex: 1;
  border: 2px solid transparent;
  border-radius: 18px;
  overflow: hidden;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.thumbnails > div img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  display: block;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.thumbnails > div:hover {
  border-color: hsl(0, 92%, 49%);
}

.thumbnails > div:hover img {
  opacity: 0.8;
}

.thumbnails img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.79);
  border: 2px solid #ec0707;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.968);
}

.right-section h3 {
  color: rgba(0, 0, 0, 0.726);
}

.right-section h2 {
  font-weight: 900;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 15px;
}

.right-section p {
  font-size: 20px;
  color: #2e2d2d;
}

.rate {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  font-size: 25px;
  font-weight: 600;
}

.percentage {
  color: white;
  font-size: 15px;
  background-color: black;
  border-radius: 6px;
  padding: 4px;
}

.discount p {
  text-decoration: line-through;
  color: #2e2d2dad;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 10px;
  width: 100%;
}

.add-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(176, 174, 174);
}

.add-items button {
  flex: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: #ec0707;
}

.add-items .count {
  flex: 1;
  text-align: center;
  font-weight: 400;
  color: black;
}

.add-to-cart {
  background-color: #f42020;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  padding: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .header {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .menu-icon {
    display: block;
  }

  .logo {
    height: 70px;
  }

  .nav-links {
    display: none;
  }

  .header-actions {
    margin-left: 0;
    gap: 15px;
  }

  .cart-icon,
  .user-icon {
    width: 30px;
    height: 30px;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .top-img {
    width: 100vw;
    margin-top: 0;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  .top-img img {
    border-radius: 0;
    width: 100%;
    display: block;
  }

  .left-section {
    padding: 0;
  }

  .left-section,
  .right-section {
    flex: none;
    width: 100%;
  }

  .right-section {
    border: none;
    width: 100%;
    margin: 0;
    padding: 20px;
    border-radius: 0;
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(230, 226, 226);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
  }

  .arrow img {
    width: 14px;
    height: 14px;
  }

  .left-arrow {
    left: 10px;
  }

  .right-arrow {
    right: 10px;
  }

  .thumbnails {
    display: none;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
  }

  .thumbnails > div {
    width: 60px;
    flex: 0 0 auto;
  }

  .thumbnails img {
    width: 100%;
    border-radius: 10px;
  }

  /* .thumb {
    flex: 0 0 100%;
    transition: transform 0.3s ease;
  } */

  .right-section h3 {
    font-size: 15px;
    font-weight: 100;
  }

  .right-section h2 {
    font-size: 40px;
  }

  .right-section p {
    font-size: 16px;
  }

  .digits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }

  .discount p {
    margin: 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  .add-items {
    padding: 8px;
  }

  .add-items,
  .add-to-cart {
    width: 100%;
  }
}
